<!DOCTYPE html>
<html lang="ja">
  <head>
<meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
    <!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">

<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>

    <style type="text/css">
      <!--
      body{background-color:#00ff00;}
       .icon{
          padding: 10px;
          color:#ffb47a;
          font-weight: bold;
          font-size:60px;
          text-shadow:
            3px 3px 3px #eee, -3px -3px 3px #eee,
           -3px 3px 3px #eee,  3px -3px 3px #aaa,
            3px 0px 3px #eee, -3px -0px 3px #000,
            0px 3px 3px #000,  0px -3px 3px #000;
          margin: 0;
       }
      
        i.fa {
          animation:3s linear infinite rotation1;
        }
        @keyframes rotation1{
          0%{ transform:rotate(0);}
          100%{ transform:rotate(360deg); }
        }
      -->
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-center icon">
        <div class="cell small-4 medium-4 large-4">
          <i class="fa fa-solid fa-feather"></i>
        </div>
        <div class="cell small-4 medium-4 large-4">
        </div>
        <div class="cell small-4 medium-4 large-4">
          <i class="fa fa-solid fa-feather"></i>
        </div>
      </div>
      <div class="grid-x grid-padding-x align-center icon">
        <div class="cell small-4 medium-4 large-4">
          <i class="fa fa-solid fa-feather"></i>
        </div>
        <div class="cell small-4 medium-4 large-4">
        </div>
        <div class="cell small-4 medium-4 large-4">
          <i class="fa fa-solid fa-feather"></i>
        </div>
      </div>
    </div>
  </body>
</html>