<!DOCTYPE html>
<html lang="ja">
  <head>
<meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
    <!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">

<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="grid-container">
      
      <div class="grid-x">
        <div class="cell large-auto">
          posted:{{post.icon}}
        </div>
      </div>
      <form method="post">
      <div class="grid-x">
        <div class="cell small-4 medium-3 large-auto">
          <button type="submit" name="icon" value="fa-leaf" class="submit primary button">
            <i class="fa fa-solid fa-leaf"></i>葉
          </button>
        </div>
        <div class="cell small-4 medium-3 large-auto">
          <button type="submit" name="icon" value="fa-star" class="submit primary button">
            <i class="fa fa-solid fa-star"></i>星
          </button>
        </div>
        <div class="cell small-4 medium-3 large-auto">
          <button type="submit" name="icon" value="fa-ghost" class="submit primary button ">
            <i class="fa fa-solid fa-ghost"></i>お化け
          </button>
        </div>
        <div class="cell small-4 medium-3 large-auto">
          <button type="submit" name="icon" value="fa-arrow-up" class="submit primary button">
            <i class="fa fa-solid fa-arrow-up"></i>アゲアゲ
          </button>
        </div>
        <div class="cell small-4 medium-3 large-auto">
          <button type="submit" name="icon" value="fa-paper-plane" class="submit primary button">
            <i class="fa fa-solid fa-paper-plane"></i>飛行機
          </button>
        </div>
        <div class="cell small-4 medium-3 large-auto">
          <button type="submit" name="icon" value="fa-feather" class="submit primary button">
            <i class="fa fa-solid fa-feather"></i>羽根
          </button>
        </div>
      </div>
      </form>
    </div>
  </body>
</html>