<!DOCTYPE html>
<html lang="ja">
  <head>
<meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">

<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-auto">One</div>
        <div class="cell large-auto">Two</div>
        <div class="cell large-auto">Three</div>
        <div class="cell large-auto">Four</div>
        <div class="cell large-auto">Five</div>
        <div class="cell large-auto">Six</div>
      </div>
      <div class="grid-x">
        <div class="cell large-auto">
          <p><button class="submit success button">
            <i class="fab fa-solid fa-leaf"></i>葉</button>
          </p>
          <p><i class="fab fa-twitter"></i>ここにアイコンを表示</p>
<i class="fab fa-brands fa-angellist"></i>xx
        </div>
        <div class="cell large-auto">
          <i class="fa-solid fa-stars">s</i>っっっx<button class="submit success button">星</button>
        </div>
        
      </div>
    </div>
  </body>
</html>